#show{
    display: flex;
    justify-content: space-between;
}
#inshow1{
    width: 70vw;
    border-right: 2px solid black;
    padding-right: 5px;
}
#inshow2{
    width: 30vw;
    padding-left: 8px;
}
.alert{
  padding: 8px;
}
@media only screen and (max-width:700px){
    #show{
      flex-wrap: wrap;
    }
    #inshow1{
        width: 100vw;
        border-right: 0px solid black;
    }
    #inshow2{
        width: 100vw;
    }
}
#about{
    font-size: 1.5rem;
    
}
#footer{
    height: 30vh;
    width: 100vw;
    margin-left: -134px;
    margin-top: 50px;
    color: white;
}
.txt{
    margin-left: 50px;
    padding-top: 15px;
}
#name{
    font-size: 3rem;
}